/* Base Styles */
:root {
  --main-font-size: 2.5rem;
}

html {
  font-family: Arial;
  font-size: 16px;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* Form Group */
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  flex: 1;
  padding: 0 10px;
  font-size: var(--main-font-size);
}

/* Global style for all number input fields */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group input[type="number"] {
  flex: 0 0 auto;
  width: 2.5em;
  text-align: center;
  font-size: var(--main-font-size);
}

/* Submit Button */
input[type="submit"] {
  background-color: DeepSkyBlue;
  margin: 0 auto;
  color: white;
  border: none;
  border-radius: 28px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: var(--main-font-size);
}

input[type="submit"]:hover {
  background-color: DodgerBlue;
}

/* Links */
a {
  background-color: DeepSkyBlue;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 28px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  margin: 15px 5px;
  font-size: var(--main-font-size);
}

a:hover {
  background-color: DodgerBlue;
}

/* Paragraphs */
p {
  margin: 25px auto;
  text-align: center;
  font-size: var(--main-font-size);
}
